body {
  padding-top: 3rem; }

.navbar {
  padding: 0; }

.nav.navbar-nav .nav-link {
  padding: 0.85rem 1rem; }

.nav.navbar-nav .active .nav-link {
  color: #555;
  background: #e7e7e7; }

.navbar-brand {
  padding: .65rem; }

.em-text {
  color: #1caa98 !important; }

.col-lg-4 {
  margin-bottom: 20px; }

section {
  padding: 40px 0 40px 0; }
  section#title-bar {
    background: #1caa98;
    padding: 10px 0 0 0;
    margin: 0;
    height: 80px;
    color: #fff; }
  section#feature {
    background: #1caa98;
    color: #fff;
    padding: 40px;
    overflow: auto; }
    section#feature ul {
      padding: 0;
      margin: 0; }
      section#feature ul li {
        font-size: 22px;
        list-style-type: none;
        line-height: 2em; }

.jumbotron {
  background: #1b222a url(../img/site_showcase_bg.jpg) no-repeat top center;
  color: #fff;
  height: 500px;
  overflow: hidden; }
  .jumbotron h1 {
    margin-top: 60px; }
  .jumbotron p {
    margin-bottom: 40px; }
  .jumbotron img.app-btn {
    width: 40%;
    margin-right: 30px; }
  .jumbotron img.showcase-img {
    width: 75%; }

footer {
  background: #333333;
  color: #fff;
  padding: 30px 0 20px 0; }
  footer li {
    list-style-type: none;
    padding: 0 10px 0 10px;
    float: left; }
  footer a {
    color: #fff; }
  footer p {
    float: right; }

#accordionExample {
  margin-bottom: 20px; }
  #accordionExample .card + .card {
    margin-top: 5px; }
  #accordionExample .card-header h5 {
    font-weight: normal !important; }
  #accordionExample .card-header button {
    color: inherit; }

@media (min-width: 1200px) {
  .jumbotron img.showcase-img {
    width: 61%;
    margin: 5px 0 0 40px; } }

@media (max-width: 991px) {
  .jumbotron img.showcase-img {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 990px) {
  .jumbotron {
    height: 400px;
    background-size: 100% 100%; }
    .jumbotron img.app-btn {
      width: 30%; }
    .jumbotron h1 {
      font-size: 60px;
      margin-top: 10px; } }

@media (max-width: 768px) {
  .jumbotron {
    height: 350px !important;
    background-size: 100% 100%; }
    .jumbotron h1 {
      margin-top: 10px; } }

@media (max-width: 500px) {
  .jumbotron {
    height: 450px !important;
    background-image: none;
    text-align: center; }
    .jumbotron h1 {
      font-size: 60px; }
    .jumbotron img.app-btn {
      width: 50%;
      margin: 0 auto 30px auto;
      display: block; }
  section#feature ul li {
    font-size: 19px !important; }
  section#contact .demo {
    margin-top: 10px !important; }
  footer {
    text-align: center !important; }
    footer ul {
      margin-left: 55px !important; }
    footer p {
      float: none;
      padding-top: 20px; } }
